#root {
  min-height: 100vh;
  width: 100%;
}

.PageComponent {
  min-height: 100vh;
  width: min(720px, 100%);
  margin: 0 auto;
}

.PageComponent-body {
  padding: 56px 12px 80px;
  box-sizing: border-box;
}
